IO_LOC "clk" E2;
IO_LOC "servo_tx" G5;
IO_LOC "servo_rx" F5;
IO_LOC "led_done" D7;
IO_LOC "led_ready" E8;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "servo_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "servo_rx" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "led_done" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_ready" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
